* {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--slate-100);
  color: var(--slate-800);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.navigation-header-button {
  display: none;
}

.navigation-header {
  background-color: var(--color-gray-900);
  color: white;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-lg);
  padding: var(--p-sm) var(--p);
}

.navigation-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: height 0.25s ease;
}

.navigation-header-branding {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-link-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  padding: var(--p-sm) var(--p-md);
  transition: all 0.25s ease;
}

.navigation-link-wrapper:hover {
  background-color: rgba(47, 133, 90, 0.2);
  color: var(--color-accent-700);
  border-radius: var(--round-md);
}

.navigation-link {
  text-decoration: none;
  color: var(--color-gray-700);
  font-size: var(--font-sm);
  font-weight: var(--font-light);
  border-radius: var(--round-md);
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  transition: opacity 0.25s ease;
}

.navigation-link--icon {
  margin-right: var(--m-sm);
  width: 20px;
  height: 20px;
  color: var(--color-accent-600);
}

.navigation-header-photo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .navigation-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation-header-branding {
    width: 100%;
  }

  .navigation-header-button {
    display: block;
    color: var(--color-gray-200);
    width: 40px;
    height: 40px;
    margin: var(--m-sm);
    background: none;
    border: none;
    cursor: pointer;
  }

  .navigation-links {
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 0px;
  }

  .navigation-links--active {
    height: 115px;
  }

  .navigation-link {
    opacity: 0;
  }

  .navigation-link--active {
    opacity: 1;
  }
}

.page-main {
  max-width: var(--screen-lg);
  margin: 0 auto;
  padding: var(--p-md) var(--p-md);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: var(--p-lg);
}

.page-header {
  background-color: white;
  padding: var(--p-md);
  border-radius: var(--round-md);
  box-shadow: var(--shadow-sm);
}

.page-header > h1 {
  color: var(--slate-800);
  font-weight: 600;
  font-size: var(--font-xl);
}
.page-header > p {
  color: var(--slate-600);
  font-size: var(--font-sm);
  font-weight: var(--font-normal);
  margin-bottom: var(--m-2xl);
  max-width: 100%;
}

.section-header {
  color: var(--slate-400);
  font-weight: 500;
  font-size: var(--font-base);
  margin-bottom: -10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: var(--m-md) 0;
  position: sticky;
  top: 0;
  background-color: var(--slate-100);
  padding-top: var(--p-xs);
  padding-bottom: var(--p-xs);
}
.section-header > span {
  flex-shrink: 0;
}

.section-header > hr {
  height: 2px;
  width: var(--full);
  background-color: var(--slate-300);
  border: none;
}
